<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>

<!-- Github Calendar -->
<script>
    // or enable responsive functionality:
    GitHubCalendar(".calendar", "Godrl", { responsive: true });

    // Use a proxy
    GitHubCalendar(".calendar", "Godrl", {
       proxy (Godrl) {
         return fetch(`https://your-proxy.com/github?user=Godrl`)
       }
    }).then(r => r.text())
</script>
