<section id="skills">
		<h2 class="section-heading">Skills</h2>
        <hr class="primary">
      	<span class="PL">
			<h3>Language</h3>
        	<div class="skill-box" style="background-image: url('/img/skills/java.jpg');">
           		<div class="skill_label">초급</div>
        	</div>
        	<div class="skill-box" style="background-image: url('/img/skills/javascript.jpg');">
        		<div class="skill_label">초급</div>
        	</div>
		</span>
  		<span class="DBMS">
          	<h3>DBMS</h3>
            <div class="skill-box" style="background-image: url('/img/skills/oracle.jpg');">
            	<div class="skill_label">초급</div>
            </div>
            <div class="skill-box" style="background-image: url('/img/skills/mysql.jpg');">
            	<div class="skill_label">초급</div>
            </div>
      	</span>
      	<span class="FW">  
      		<h3>FrameWork</h3>  
            <div class="skill-box" style="background-image: url('/img/skills/spring.jpg');">
            	<div class="skill_label">초급</div>
            </div>
      	</span>
      	<span class="VCS">  	
      		<h3>VCS</h3>  
            <div class="skill-box" style="background-image: url('/img/skills/git.jpg');">
            	<div class="skill_label">초급</div>
            </div>
      	</span>
</section>
